<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	
	<section class="background d-flex justify-content-center align-items-center ">
		<div class="text-center">
			
		<h1 style="color:blanchedalmond; line-height:1.5em; font-size: 80px;">Hola Amigos!</h1>
		<h1 style="color:cornflowerblue; line-height:1.5em;font-size: 70px;"> Bienvenue</h1>
		<h3>Welcome to Smart Contact Manager. This website will introduce you to the amazing and kind universe. Our website will assist you with inserting, deleting, updating, and a lot more using it. We will send you reminders to help you accomplish your goals and will assist you in setting reminders. You are safe with us! We stand by you!</h1>
		<h2>Thank you for choosing us!</h2>
		<h1 style="line-height:1.5em; color:darkcyan; font-size: 60px;">Merci de nous avoir choisi!</h1>
		<h1 style="line-height:1.5em;color:turquoise; font-size: 65px;"> Gracias por elegirnos!</h1>
		
		</div>
	</section>
</body>
</html>